@use "../setting/setting";

.c-topHeading {
  margin-bottom: 24px;
  line-height: 1.2;
}

.c-topHeading__heading {
  font-size: clamp(1.5rem, 0.75rem + 1.88vw, 2.25rem);
  line-height: 1.75;
  position: relative;
  padding-bottom: 8px;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: setting.$color-main;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}

.c-topHeading-center {
  text-align: center;
}
