@use "../setting/setting";

.p-topAbout {
  padding: 64px 0;
  position: relative;
}

.p-topAbout__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.p-topAbout__image {
  position: relative;
  img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.c-topAbout__heading {
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
  margin-top: 16px;
  line-height: 1.75;
  position: relative;
  padding-bottom: 16px;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: setting.$color-main;
    left: 0;
    bottom: 0;
  }

  @media not all and (min-width: 1023px) {
    br {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .p-topAbout__wrapper {
    flex-direction: row;
    gap: 64px;
  }

  .p-topAbout__texts {
    width: 50%;
  }

  .p-topAbout__image {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .p-topAbout {
    padding: 108px 0;
  }
}
