@use "../setting/setting";

.p-topService {
  background: setting.$color-sub;
  padding: 64px 0;
}

.p-topService__link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;

  h3 {
    font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
    z-index: 2;
    letter-spacing: 0.2em;
  }

  p {
    z-index: 2;
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 24px;
    right: 24px;
    text-decoration: underline;
  }

  &::before {
    background-color: rgba(0, 0, 0, 0.5);
    /* どの範囲に重ねるかを指定 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.p-topService__link-logging {
  background: url(../images/top/service01.JPG) no-repeat center center/cover;
  position: relative;
  transition: 1s;
}

.p-topService__link-engineer {
  background: url(../images/top/service02.jpg) no-repeat center center/cover;
}

@media (min-width: 768px) {
  .p-topService__list {
    display: flex;
    margin-top: 40px;
  }

  .p-topService__item {
    width: 50%;
  }

  .p-topService__link {
    height: 350px;
  }
}

@media (min-width: 1024px) {
  .p-topService {
    padding: 88px 0;
  }
}
