.p-topWorks {
  padding: 64px 0;
}

.slider {
  padding: 24px 0;

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .p-topWorks {
    padding: 88px 0;
  }
}
